
body {
	font-family: "Open Sans", "Helvetica", serif;

	padding: 0px;
	margin: 0px;
}

table {
	border-collapse: collapse;
}

tr.odd_row td {
	background-color: #DDE;
}

td {
	padding: 2pt 8pt;
	margin: 0px;
}

th {
	padding: 2pt 8pt;

	background-color: #444;
	color: white;
}

form th {
	vertical-align: top;
}

.title_bar {
	display: block;

	background-color: black;
	color: white;

	padding: 0pt 8pt;
	border: 0px;
}

.title_bar ul {
	margin: 0px;
	padding-left: 0px;

	list-style-type: none;
}

.title_bar ul li {
	margin: 2pt 8pt;

	display: inline;
}

.title_bar a {
	color: white;
	text-decoration: none;
}

.login_box {
	float: right;

	font-size: 9pt;
}

.action_bar {
	display: block;
	overflow: hidden;

	background-color: #AAA;

	padding: 2pt 8pt;
	margin: 0px;
}

.action_button {
	display: block;
	float: left;

	padding: 4pt 6pt;
	margin: 2pt 4pt 2pt 0pt;
	border-radius: 4px;

	background-color: #4A4;

	color: white;

	text-decoration: none;
}

.action_button:hover {
	background-color: #282;
}

.message_box {
	background-color: #FF9;
	border-radius: 4px;
	padding: 2pt 8pt;
}

.message_error {
	background-color: #F99;

	font-weight: bold;
}

.content {
	display: block;
	padding: 8pt;
}

.form_action_row {
	text-align: right;
}

.form_action_row input {
	float: right;
}

/*
.form_submit_input {
	display: block;
	float: left;

	padding: 4pt 6pt;
	margin: 2pt 4pt 2pt 0pt;
	border-radius: 4px;

	background-color: #4A4;

	color: white;

	text-decoration: none;
}
*/