{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static "homis_core/base.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "finances/finances.css" %}" />

		<script type="text/javascript" src="{% static "homis_core/jquery-1.11.2.min.js" %}"></script>

		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

		{% block meta %}
		{% endblock %}
	</head>

	<body>
		<div class="title_bar">
			<div class="login_box">
				{% if user.is_authenticated %}
					{{ user.username }} | <a href="{% url 'homis_core:log-out' %}">log out</a>
				{% else %}
					<form action="{% url 'homis_core:log-in' %}" method="POST">
						{% csrf_token %}
						username:
						<input type="text" name="username" />
						password:
						<input type="password" name="password" />
						<input type="submit" value="log in" />
					</form>
				{% endif %}	
			</div>

			{% block title %}
			<h1>Core</h1>
			{% endblock %}

			{% block tile_menu %}
			<ul>
				<li><a href="{% url 'homis_core:people' %}">People</a></li>
				<li><a href="{% url 'finances:index' %}">Finances</a></li>
				<li><a href="{% url 'admin:index' %}">Admin</a></li>
			</ul>
			{% endblock %}
		</div>

		<div class="action_bar">
			<a href="{% url 'finances:add-simple-payment' %}" class="action_button">Simple payment</a>
			<a href="{% url 'finances:add-transaction' %}" class="action_button">Transaction</a>
		</div>

		<span class="content">
			{% if messages %}
			<div class="message_container">
				{% for message in messages %}
				<div class="message_box {% if message.is_error %}message_error{% endif %}">
					{{ message }}
				</div>
				{% endfor %}
			</div>
			{% else %}
			<!-- Messages: {{ messages }} -->
			{% endif %}

			{% block content %}
			{% endblock %}
		</span>
	</body>
</html>
