{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static "base.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "finances/finances.css" %}" />

		{% block meta %}
		{% endblock %}
	</head>

	<body>
		<span class="title_bar">
			<h1>Finances</h1>

			<ul>
				<li><a href="/finances">Finances</a></li>
				<li><a href="/admin">Admin</a></li>
			</ul>
		</span>

		<span class="content">
		{% block content %}
		{% endblock %}
		</span>
	</body>
</html>
