{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static "base.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "finances/finances.css" %}" />

		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

		{% block meta %}
		{% endblock %}
	</head>

	<body>
		<div class="title_bar">
			<h1>Finances</h1>

			<ul>
				<li><a href="/finances">Finances</a></li>
				<li><a href="/admin">Admin</a></li>
			</ul>
		</div>

		<div class="action_bar">
			<a href="/finances/add_simple_payment" class="action_button">Simple payment</a>
			<a href="/finances/add_transaction" class="action_button">Transaction</a>
		</div>

		<span class="content">
		{% block content %}
		{% endblock %}
		</span>
	</body>
</html>
